@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "statFont";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleM.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "logFont";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.wrap {
  max-width: 1300px;
  min-width: 820px;
  margin: 0 auto;
  padding: 0px 30px; }

strong {
  display: block; }

#log {
  font-family: "logFont";
  margin-top: 30px;
  height: calc(100vh - 440px);
  margin-bottom: 40px;
  min-height: 200px;
  border: 1px solid rgba(138, 138, 138, 0.653);
  padding: 30px;
  overflow: scroll;
  box-sizing: border-box;
  color: #333; }
  #log p {
    line-height: 180%;
    transform: translateY(10px);
    animation-name: msgShow, msgOutline;
    animation-duration: 0.2s, 0.8s;
    animation-delay: 0s, 0s;
    animation-timing-function: linear, linear;
    transform-origin: 100% 100%;
    animation-fill-mode: forwards; }

.info-basic {
  flex-basis: 5%; }

.info-health {
  flex-basis: 20%; }

.info-level {
  flex-basis: 12%; }

.info-history {
  flex-basis: 5%; }

.status {
  color: #333;
  font-size: 14px;
  font-family: "statFont";
  display: flex;
  margin-top: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.653); }
  .status-name {
    font-weight: bold;
    font-size: 20px; }
  .status-money:after {
    display: inline-block;
    margin-left: 4px;
    content: " Gold"; }
  .status-job {
    margin: 4px 0; }
  .status .info {
    flex-grow: 1;
    padding: 0 30px; }
  .status-level, .status-exp {
    display: flex;
    align-items: flex-end; }
    .status-level .title, .status-exp .title {
      margin-right: 12px; }
    .status-level .contents, .status-exp .contents {
      font-size: 120%; }
  .status-exp {
    align-items: center;
    margin-top: 4px;
    padding-bottom: 15px; }
    .status-exp .contents {
      position: relative;
      width: 100%; }
    .status-exp .bar {
      width: 100%;
      height: 6px;
      background-color: #e4e4e4; }
    .status-exp .currentBar {
      height: 100%;
      background-color: #333; }
    .status-exp .expText {
      margin-top: 5px;
      font-size: 60%;
      text-align: center; }
  .status-hp {
    position: relative; }
    .status-hp .title {
      font-size: 105%;
      margin-top: 2px; }
    .status-hp .contents {
      margin-top: 8px;
      position: relative;
      width: 100%; }
    .status-hp .bar {
      width: 100%;
      height: 10px;
      background-color: #e4e4e4; }
    .status-hp .currentBar {
      height: 100%;
      background-color: #dd4343; }
    .status-hp .expText {
      margin-top: 5px;
      font-size: 60%;
      text-align: center; }
  .status .heart {
    display: flex; }
    .status .heart .heartIcon {
      display: block;
      flex-grow: 1;
      font-size: 20px; }
  .status .heart-current {
    position: absolute;
    color: red; }

.info-ability [class^="status-"],
.info-history [class^="status-"] {
  display: flex; }

.info-ability .title,
.info-history .title {
  margin-bottom: 4px;
  margin-right: 8px; }

.info-ability .title {
  min-width: 42px;
  margin-right: 10px; }

.info-history .title {
  min-width: 30px; }

.info-history [class$="val"] {
  color: #444; }

.info-history .status-victory,
.info-history .status-defeat {
  text-align: right; }
  .info-history .status-victory:after,
  .info-history .status-defeat:after {
    display: inline-block;
    content: "íšŒ"; }

.menuPosition {
  min-height: 58px;
  margin: 40px 0 10px;
  display: flex;
  justify-content: center; }

.menu {
  display: flex;
  justify-content: center;
  position: absolute; }
  .menu button {
    font-family: "statFont";
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #555;
    padding: 8px 15px;
    color: #333;
    cursor: pointer;
    margin-left: 8px;
    outline: 0; }
    .menu button:first-child {
      margin-left: 0; }
    .menu button:hover {
      background-color: #352fa7;
      border-color: #352fa7;
      color: #fff; }

.menu {
  opacity: 0.5;
  pointer-events: none;
  visibility: visible; }

.menu.on {
  opacity: 1;
  pointer-events: initial; }

.menu.hide {
  visibility: hidden;
  opacity: 0; }

.scene {
  position: relative;
  font-size: 58px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .scene .vs {
    font-size: 28px;
    margin: 0 20px; }
  .scene .player,
  .scene .monster {
    opacity: 0.5;
    transform: scale(0.7); }
  .scene .turnOwner {
    opacity: 1;
    transform: scale(1.1); }
  .scene .turnNoti {
    display: none;
    font-size: 28px;
    position: absolute;
    top: -28px;
    left: 50%;
    margin-left: -15px; }

.msg-atk {
  color: #a41e53; }

.msg-cri {
  color: #e40a0a;
  font-weight: bold; }

.msg-vic,
.msg-def {
  color: #222;
  font-weight: bold; }

.msg-vic {
  color: rgba(30, 30, 177, 0.797); }

.msg-lvup {
  background-color: #f5e5e5;
  padding: 4px; }

.msg-fail {
  color: #aaa; }

.msg-appear {
  font-weight: bold;
  font-size: 110% !important;
  text-decoration: underline; }

.msg-gainExp {
  color: #c08300; }

.msg-gainMoney {
  color: #11ae6b; }

.msg-tryToAtk {
  color: #d96868; }

@keyframes msgShow {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

@keyframes msgGray {
  100% { } }

@keyframes msgOutline {
  50% {
    font-size: 17px; }
  100% {
    font-size: 14px; } }

@keyframes msgOutline_Mobile {
  50% {
    font-size: 15px; }
  100% {
    font-size: 13px; } }

.gray {
  filter: grayscale(100%); }

@media (max-width: 860px) {
  .wrap {
    min-width: auto;
    box-sizing: border-box;
    padding: 20px 20px 0; }
  .status {
    flex-wrap: wrap;
    margin-top: 0; }
  .info {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 0 20px !important;
    margin-bottom: 20px;
    font-size: 12px; }
    .info:nth-child(3), .info:nth-child(4) {
      margin-bottom: 30px; }
  .menuPosition {
    margin: 20px 0 10px;
    min-height: 50px; }
  #log {
    height: calc(100vh - 460px);
    padding: 20px; }
    #log p {
      animation-name: msgShow, msgOutline_Mobile;
      animation-duration: 0.2s, 0.8s;
      line-height: 160%; } }
